/*nav bar 1*/
#botones {
  display: flex;
  justify-content: space-evenly;
  background-color: palegoldenrod;
  padding: 3px;
  border-top: solid red 1px;
  border-bottom: solid red 1px;
  margin: 25px 100px; }

#botones li a {
  color: red;
  text-decoration: none; }

#botones a:hover {
  background-color: #d3cd8a; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

/* termina nav bar 1 */
.navbar {
  display: none; }

.offcanvas {
  background-color: palegoldenrod;
  color: red;
  height: 50vh;
  width: 23vw; }

#btn-1 {
  color: red; }

#btn-2 {
  color: red; }

.dropdown-item {
  color: red; }

#offcanvasNavbarDropdown {
  color: red; }

@media (max-width: 768px) {
  #botones {
    display: none; }
  .navbar {
    display: block; } }

@media (max-width: 581px) {
  .offcanvas {
    width: 25vw;
    height: 55vh; } }

.contenedor-img-texto {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center; }

@media (max-width: 768px) {
  .contenedor-img-texto {
    flex-direction: row; } }

.contenedor-total {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
  gap: 50px; }

@media (max-width: 991px) {
  .contenedor-total {
    flex-direction: row;
    flex-wrap: wrap; } }

.card-comida {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card-comida a {
    text-decoration: none;
    color: red;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    margin-top: 20px; }
  .card-comida a:hover {
    background-color: #fdf7b4; }
  .card-comida img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border: solid 2px #3b3b3b; }

.contraste {
  background-color: #fffbca;
  padding: 15px 15px; }

.nombres-items {
  color: red;
  font-weight: 300;
  border: none;
  border-top: 1px dashed #2eadc7;
  padding-top: 10px; }

.nombres-items a {
  text-decoration: none;
  color: red;
  float: left; }

.descripcion {
  color: #3b3b3b;
  font-size: medium;
  margin: 16 px;
  text-align: left; }

.subtexto {
  margin-top: 25px; }

@media (max-width: 991px) {
  .subtexto p {
    font-size: small;
    float: right; } }

@media (max-width: 581px) {
  .subtexto p {
    font-size: smaller; } }

.titulos-opciones {
  color: #2eadc7;
  font-weight: 200; }

.subtitulos {
  font-weight: 200;
  color: red; }

.titulos-ppales {
  color: red;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 200; }

.titulo-sec {
  color: red;
  font-size: medium;
  font-weight: 200;
  padding: 15px 0px; }

ul li {
  list-style-type: none; }

body {
  background-color: #2eadc7;
  background-image: url(../public/img/fondo.png);
  font-family: 'Roboto Mono', monospace; }

.logos-grandes {
  justify-content: left;
  padding: 10px; }

@media (max-width: 991px) {
  .logos-grandes {
    width: 70vw; } }

/* social bar */
#social {
  position: fixed;
  bottom: 0px;
  right: 40px; }

#social ul li {
  text-align: right; }

#social ul li img {
  width: 30px;
  height: 30px; }

/* termina social bar */
footer p {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px; }

#logo {
  display: block;
  text-align: center; }

@media (max-width: 768px) {
  #logo img {
    width: 50vw; } }

/* formulario */
form {
  display: grid;
  justify-content: space-around;
  margin-left: 90px;
  margin-top: 30px; }
  form div {
    color: red;
    margin-top: 15px; }
    form div label {
      font-size: large; }
    form div input {
      font-family: 'Roboto Mono', monospace;
      width: 70vw;
      height: 35px;
      border-radius: 5px; }
    form div textarea {
      font-family: 'Roboto Mono', monospace;
      width: 70vw;
      border-radius: 5px; }

#enviar {
  width: 20vw;
  height: 50px;
  background-color: red;
  color: palegoldenrod;
  font-size: larger;
  justify-content: right; }

  #divTortas {
    padding-left: 60px;
    padding-right: 30px;
  }
  
  #boton1 {
    margin-left: 500px;
    margin-bottom: 1000px; 
  }

/* termina formulario */
