@import "utilities/variables";
@import "utilities/mixins";

body {
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
    ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/*nav bar 1*/
#botones {
    @include flex-evenly;

    background-color: $color-background;
    padding: 3px;
    border-top: solid red 1px;
    border-bottom: solid red 1px;
    margin: 25px 100px;

    @include tablet {
        display: block;
        max-width: 120px;
    }
}
#botones li a {
    color: $color-btn;
    text-decoration: none;
}
#botones a:hover {
    background-color: $color-hover;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
/* termina nav bar 1 */

.contenedor-img-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .contenedor-img-texto {
        flex-direction: row;
    }
}
.contenedor-total {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
@media (max-width: 768px) {
    .contenedor-total {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.card-comida {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
        color: red;
        border-top: solid 1px red;
        border-bottom: solid 1px red;
        margin-top: 20px;
    }
    a:hover {
        background-color: $color-hover;
    }
    img {
        margin-top: 20px;
        width: 250px;
        height: 250px;
        border: solid 2px rgb(59, 59, 59);
    }
}
.contraste {
    background-color: $color-background;
    padding: 15px 15px;
}
.nombres-items {
    color: $color-items;
    font-weight: 300;
    border: none;
    border-top: 1px dashed #2eadc7;
    padding-top: 10px;
}
.nombres-items a {
    text-decoration: none;
    color: $color-items;
    float: left;
}
.descripcion {
    color: $color-descripcion;
    font-size: $tamanio-descripcion;
    margin: 16 px;
    text-align: left;
}
.subtexto {
    margin-top: 25px;
}
.titulos-opciones {
    color: $color-opciones;
    font-weight: 200;
}
.subtitulos {
    font-weight: 200;
    color: $color-subtitulos;
}
.titulos-ppales {
    color: $color-titulos;
    text-transform: uppercase;
    font-size: $tamanio-titulos;
    font-weight: 200;
}
.titulo-sec {
    color: $color-titulos;
    font-size: medium;
    font-weight: 200;
    padding: 15px 0px;
}
ul li {
    list-style-type: none
}
body {
    background-color: #2eadc7;
    background-image: url(../public/img/fondo.png);
    font-family: 'Roboto Mono', monospace;
}
.logos-grandes {
    float: left;
    padding: 10px;
}
 
/* social bar */
#social {
    position: fixed;
    bottom: 0px;
    right: 40px;
}
#social ul li {
    text-align: right;
}
#social ul li img {
    width: 30px;
    height: 30px;
}
/* termina social bar */
footer p {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}
#logo {
    display: block;
    margin: 0 auto;
}
 /* formulario */
form {
    display: grid;
    justify-content: space-around;
    margin-left: 90px;
    margin-top: 30px;
    div {
    color: $color-form;
    margin-top: 15px;
    label {
        font-size: large;
        }
    input {
        font-family: 'Roboto Mono', monospace;
        width: 70vw;
        height: 35px;
        border-radius: 5px;
        }
    textarea {
        font-family: 'Roboto Mono', monospace;
        width: 70vw;
        border-radius: 5px;
        }
    }
}
#enviar {
    width: 20vw;
    height: 50px;
    background-color: red;
    color: palegoldenrod;
    font-size: larger;
    justify-content: right;
}
/* termina formulario */