// Colores
$color-titulos: red;
$color-subtitulos: red;
$color-items: red;
$color-descripcion: rgb(59, 59, 59);
$color-opciones: #2eadc7;
$color-fondo: palegoldenrod;
$color-form: red;
$color-btn: red;
$color-hover: rgb(211, 205, 138);
$color-background: palegoldenrod; 
$yellow: palegoldenrod;

// Tamaños fuentes
$tamanio-btn: x-large;
$tamanio-titulos: x-large;
$tamanio-descripcion: medium;
$tamanio-secundarios: medium;

// Media queries
$celular: 576px;
$tablet: 768px;
$desktop: 992px;
